@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  background: #111;
}

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  color: #eee;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ae_app {
  width: 100%;
  height: 100%;
}

/** TOOLBAR **/
.ae_mobile .ae_timecontainer {
  cursor: pointer;
}

.ae_mobile .ae_ftr .ae_btn span,
.ae_mobile .ae_tb .ae_btn span {
  visibility: hidden;
  display: none;
}
/** ENDOF TOOLBAR **/

/** AUDIOVIEW **/
/** END OF AUDIOVIEW **/

/** MODAL **/
.ae_modal {
  position: relative;
  margin: -40px auto 0 auto;
  border: 1px solid #333;
  background: #222;
  display: block;
  box-shadow: 0 0 20px #333;
  min-width: 344px;
  min-height: 168px;

  animation: ae_shw 0.2s ease-out 0ms 1;

  margin-top: 0;
}

.ae_modal.ae_bigger {
  min-width: 400px;
}

.ae_modal .ae_txt {
  display: block;
  margin-top: 6px;
  background: #111;
  outline: 0;
  padding: 4px 8px;
  color: #eee;
  border-radius: 4px;
  border: 1px solid #333;
  border-bottom: 1px solid #444;
}

.ae_modal_back {
  z-index: 8;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  right: 0;
  display: block;
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
}
/** END OF MODAL **/

.ae_mobile .ae_zoom_in_v,
.ae_mobile .ae_zoom_out_v {
  display: none;
}

/* if max height < ... hide vertical buttons and position to 0... */

.ae_inact,
.ae_app .ae_inact,
.ae_btn.ae_inact {
  opacity: 0.5;
  cursor: default;
}

.ae_mobile .icon-rec.ae_act {
  box-shadow: none;
}

@media only screen and (max-width: 779px) {
  .ae_mobile .ae_ctns,
  .ae_mobile .ae_transport {
    height: 36px;
  }
  .ae_mobile .ae_hdr {
    padding: 20px 5px 0 5px;
  }

  .ae_mobile .ae_transport,
  .ae_mobile .ae_ctns,
  .ae_mobile .ae_btngroup {
    float: none;
    display: inline-block;
  }
  .ae_mobile .ae_btngroup {
    padding-top: 8px;
  }
  .ae_mobile .ae_tb .ae_btn {
    font-size: 16px;
    width: 32px;
    height: 32px;
    margin: 0px 4px;
    line-height: 24px;
  }
}

/* MOBILE STYLES */
body.ae_stndln {
  padding-bottom: 600px;
  overflow: hidden;
}

.ae_stndln .ae_fxd {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.ae_stndln .ae_modal_back {
  position: fixed;
}
